<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/fragmentos :: head"></head>
<body class="sb-nav-fixed">
	<header th:replace="layouts/fragmentos :: header"></header>
	<div id="layoutSidenav">
		<div th:replace="layouts/fragmentos :: menu"></div>
		<div id="layoutSidenav_content">
		<!--  Aqui inicia contenido -->
		<div class="container mt-4">

      	<form th:action="@{/categoria/form}" th:object="${categoria}" method="post" class="needs-validation" novalidate>

					<div class="card">

						<div class="card-header bg-info text-white">Datos de la Categoría</div>

						<div class="card-body">

							<div class="row">

								<div class="col-md-6 mb-3">

									<label>Nombre:</label> <input th:field="*{nombre}" type="text"

										class="form-control" placeholder="Ingrese nombre"

										minlength="1" maxlength="50" required="required" />

									<div class="invalid-feedback">Ingrese el nombre</div>

								</div>

								<div class="col-md-6 mb-3">

									<label>Descripción:</label> <input th:field="*{descripcion}"

										type="text" class="form-control"

										placeholder="Ingrese descripción" required="required" />

									<div class="invalid-feedback">Ingrese los apellidos</div>

								</div>

							</div>

							

							<br> 

							<div class="row">

								<div class="col-12 text-center">

									<button type="submit" class="btn btn-dark">

										<i class="fas fa-save"></i> Guardar Categoría

									</button>

								</div>

							</div>

						</div>

					</div>

				</form>
				<br>
				<div class="card">

					<div class="card-header bg-info text-white">Categorías Registradas</div>

					<div class="card-body">

						<div class="table-responsive">

							<table class="table table-bordered table-hover">

							 	<thead class="thead-dark">

								  <tr>

								   	<th scope="col">#</th>

									  <th scope="col">Nombre</th>

									  <th scope="col">Descripción</th>

									  <th scope="col"></th>

								  </tr>

							 	</thead>

							 	<tbody>

								  <tr th:each="item: ${listaCategorias}">

								   	<th th:text="${item.id}"></th>

								   	<td th:text="${item.nombre}"></td>

								   	<td th:text="${item.descripcion}"></td>

								   	<td class="text-center">

								   		<a href="#" th:id="${item.id}" th:param1="${item.nombre}" th:param2="${item.descripcion}" class="btn btn-warning editarCategoria"><i class="fas fa-edit"></i> Editar</a>

								   	</td>

								  </tr>

							 	</tbody>

							</table>

						</div>

					</div>

				</div>
				

      </div>
      
      
      <!-- Modal Editar Categoria -->

			<div id="editarCategoria" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">

			  <div class="modal-dialog modal-lg" role="document">

			    <div class="modal-content">

			      <div class="modal-header bg-info text-white">

			        <h5 class="modal-title">Editar Categoría</h5>

			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

			          <span aria-hidden="true">&times;</span>

			        </button>

			      </div>

			      <form method="post" th:action="@{/categoria/form}" th:object="${categoria}" class="needs-validation" novalidate>

			        <input type="hidden" th:field="*{id}" />

			        <div class="modal-body" id="modalMensaje">

			          <div class="form-row">

			            <div class="col-12 mb-3">

			              <label>Nombre:</label> <input name="nombre" id="txtNombre" type="text"

										class="form-control" placeholder="Ingrese nombre"

										minlength="1" maxlength="50" required="required" />

										<div class="invalid-feedback">Ingrese el nombre</div>

			            </div>

			          </div>

			          <div class="form-row">

			            <div class="col-12 mb-3">

			              <label>Descripción:</label> <input name="descripcion" id="txtDescripcion"

										type="text" class="form-control"

										placeholder="Ingrese descripción" required="required" />

									<div class="invalid-feedback">Ingrese los apellidos</div>

			            </div>

			          </div>

			        </div>

			        <div class="modal-footer">

			          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>

			          <button class="btn btn-dark" type="submit"><i class="fas fa-save"></i> Guardar Cambios</button>

			        </div>

			      </form>

			    </div>

			  </div>

			</div>
		<!--  Aqui finaliza contenido -->

			<footer th:replace="layouts/fragmentos :: footer"></footer>
		</div>
	</div>

	<script th:replace="layouts/fragmentos :: script"></script>
	<script type="text/javascript" th:src="@{/js/categoria.js}"></script>


</body>
</html>
